{% load wagtailimages_tags %}


LOREM IPSUM

<hr>

width-200
{% image page.image width-200 %}

<hr>

height-200
{% image page.image height-200 %}

<hr>

fill-100x100
{% image page.image fill-100x100 %}

<hr>

max-1000x500
{% image page.image max-100x50 %}

<hr>

min-50x200
{% image page.image min-50x200 %}

<hr>

scale-50
{% image page.image scale-50 %}

<hr>

scale-25
{% image page.image scale-25 %}

<hr>

scale-125
{% image page.image scale-125 %}

<hr>

fill-200x200-c100
{% image page.image fill-200x200-c100 %}

<hr>

original

{% image page.image original %}
